<mat-tab-group class="container" [(selectedIndex)]="tabIndex" mat-align-tabs="start">
  <mat-tab label="Form">
    <app-blood-group-info-form (closeForm)="nextTab($event)"></app-blood-group-info-form>
  </mat-tab>

  <mat-tab label="Blood Bank">
    <div class="tab-container">
      <h2>Blood Bank</h2>

      <mat-divider></mat-divider>

      <div id="positive-blood-group" cdkDropList>

        <mat-card 
          draggable
          [dragData]="bloodData"
          [ngClass]="{'drag-disabled' : !bloodData.eligibleForDonation}"
          [dragScope]="'container'"
          *ngFor="let bloodData of bloodBankData.positiveBloodData"
          [dragEnabled]="bloodData.eligibleForDonation">
          <mat-card-title>{{ bloodData.bloodGroup }}</mat-card-title>
          <mat-card-content>{{ bloodData.countPresent }}</mat-card-content>
        </mat-card>

      </div>

      <div id="negative-blood-group" cdkDropList>

        <mat-card
          draggable
          [dragData]="bloodData"
          [ngClass]="{'drag-disabled' : !bloodData.eligibleForDonation}"
          [dragScope]="'container'"
          *ngFor="let bloodData of bloodBankData.negativeBloodData"
          [dragEnabled]="bloodData.eligibleForDonation">
          <mat-card-title>{{ bloodData.bloodGroup }}</mat-card-title>
          <mat-card-content>{{ bloodData.countPresent }}</mat-card-content>
        </mat-card>

      </div>

      <div class="blood-requirement-section">

        <app-blood-requirement-form (bloodRequiredData)="checkBloodGroupAvailibility($event)">
        </app-blood-requirement-form>

        <div 
          droppable
          [dropScope]="'container'"
          [dropEnabled]="dropAllowedOnContainer"
          [dragOverClass]="'drag-target-border'"
          (onDrop)="bloodCardDropped($event)"
          id="bucket-container">
          
          <p>Bucket</p>
            <div>
              <mat-card id="bucket" *ngFor="let item of bloodContainerList">
                <mat-card-title>{{ item.bloodGroup }}</mat-card-title>
                <mat-card-content>{{ item.countPresent }}</mat-card-content>
              </mat-card>
            </div>
        </div>

      </div>

    </div>
  </mat-tab>

</mat-tab-group>
